In [ ]:
x = 5

name = "AJAY"

print(x, name)

5 AJAY

In [ ]:
age = 25
print("Age:", age)
height = 5.11
print("Height:", height)
message = "Hello, world!"
print("Message:", message)
is_student = True
print("Is Student:", is_student)

Age: 25
Height: 5.11
Message: Hello, world!
Is Student: True

In [ ]:
numbers = [1, 2, 3, 4, 5]
print("Numbers:", numbers)
coordinates = (10, 20)
print("Coordinates:", coordinates)
person = {"name": "Alice", "age": 30}
print("Person:", person)

Numbers: [1, 2, 3, 4, 5]
Coordinates: (10, 20)
Person: {'name': 'Alice', 'age': 30}

In [ ]:
sum = 5 + 3
print("Sum",sum)
difference = 10 - 4
print("Difference:", difference)
product = 6 * 2
print("Product:", product)
quotient = 12 / 3
print("Quotient:", quotient)
remainder = 15 % 4
print("Remainder:", remainder)
power = 2 ** 3
print("Power:", power)

Sum 8
Difference: 6
Product: 12
Quotient: 4.0
Remainder: 3
Power: 8

In [ ]:
is_equal = (5 == 5)
print("Is Equal:", is_equal)
is_greater = (10 > 5)
print("Is Greater:", is_greater)
is_less_or_equal = (15 <= 20)
print("Is Less or Equal:", is_less_or_equal)
and_result = (True and False)
print("AND Result:", and_result)
or_result = (True or False)
print("OR Result:", or_result)
not_result = (not True)
print("NOT Result:", not_result)

Is Equal: True
Is Greater: True
Is Less or Equal: True
AND Result: False
OR Result: True
NOT Result: False

In [ ]:
my_list = [1, 2, 3, 'apple', 'banana']
print("First element:", my_list[0])
my_list[2] = 10
print("Modified list:", my_list)
my_list.append('orange')
print("List with added element:", my_list)
my_list.remove(2)
print("List with removed element:", my_list)

First element: 1
Modified list: [1, 2, 10, 'apple', 'banana']
List with added element: [1, 2, 10, 'apple', 'banana', 'orange']
List with removed element: [1, 10, 'apple', 'banana', 'orange']

In [ ]:
x = 10
if x > 5:
  print("x is greater than 5")
elif x == 5:
  print("x is equal to 5")
else:
  print("x is less than 5")

x is greater than 5

In [ ]:
numbers=[1,2,3,4,5]
for numbers in numbers:
    print(numbers)

x=0
while x<5:
  print(x)
  x+=1

1
2
3
4
5
0
1
2
3
4

In [ ]:
num1 = float(input("Enter first number:"))
num2 = float(input("Enter second number:"))
num3 = float(input("Enter third number:"))
if (num1 >= num2) and (num1 >= num3):
   largest = num1
elif (num2 >= num1) and (num2 >= num3):
   largest = num2
else:
   largest = num3
print("The largest number is", largest)
num4 = float(input("Enter any number:"))
for i in range(1, 11):
   print(num4, 'x', i, '=', num4*i)
def recur_factorial(n):
   if n == 1:
       return n
   else:
       return n*recur_factorial(n-1)
num5 = float(input("Enter any number:"))
if num5 < 0:
   print("Sorry, factorial does not exist for negative numbers")
elif num5 == 0:
   print("The factorial of 0 is 1")
else:
   print("The factorial of", num5, "is", recur_factorial(num5))

Enter first number:10
Enter second number:20
Enter third number:30
The largest number is 30.0
Enter any number:7
7.0 x 1 = 7.0
7.0 x 2 = 14.0
7.0 x 3 = 21.0
7.0 x 4 = 28.0
7.0 x 5 = 35.0
7.0 x 6 = 42.0
7.0 x 7 = 49.0
7.0 x 8 = 56.0
7.0 x 9 = 63.0
7.0 x 10 = 70.0
Enter any number:7
The factorial of 7.0 is 5040.0

In [ ]:
matrix = [[1,2],[1,2],[1,2]]
print(matrix)

[[1, 2], [1, 2], [1, 2]]